<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAccount</title>
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="icon" type="image/png" href="images/logo.png">
<link rel="stylesheet" href="style/Addresses.css">
</head>
<body>
    <div class="navbar">
        <%- include('Navbar') %>
    </div>
    <%- include('Sidebar') %>
        <div class="col-md-8 addresses">
            <div class="add-address">
                <h2>My addresses</h2>
                <button>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M434.5-434.5H191.87v-91H434.5v-242.63h91v242.63h242.63v91H525.5v242.63h-91V-434.5Z"/></svg>
                    </span>
                    Add address
                </button>
            </div>
            <% if (addresses.length > 0) { %>
                <% addresses.forEach(element => { %>
                    <div class="container-fluid mt-4">
                        <div class="info-card">
                            <div class="name-phone">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#06b6d4"><path d="M480-477.61q34.2 0 58.29-24.1 24.1-24.09 24.1-58.29t-24.1-58.29q-24.09-24.1-58.29-24.1t-58.29 24.1q-24.1 24.09-24.1 58.29t24.1 58.29q24.09 24.1 58.29 24.1Zm0 285.15q120.33-110.08 178.73-198.59 58.4-88.52 58.4-161.91 0-107.31-68.67-175.74t-168.47-68.43q-99.79 0-168.46 68.43-68.66 68.43-68.66 175.74 0 73.39 58.4 161.79 58.4 88.39 178.73 198.71Zm0 120.59Q315.17-211.26 233.52-329.36q-81.65-118.1-81.65-223.6 0-153.28 98.95-244.22 98.95-90.95 229.18-90.95 130.23 0 229.18 90.95 98.95 90.94 98.95 244.22 0 105.5-81.65 223.6T480-71.87ZM480-560Z"/></svg>
                                </span>
                                <h5><%=element.name%></h5>
                                <div> <h6>-</h6> </div>
                                <div><h6><%= element.phoneNumber %></h6></div>
                            </div>
                            <div class="street" style="margin-left: 35px;">
                                <div><%= element.street %></div>
                                <div><%= element.city %></div>
                                <div><%= element.country %></div>
                            </div>
                            <div class="buttons mt-4" style="margin-left: 35px;">
                                <button>Edit</button>
                                <button class="deleteAddressButton" data-id = "<%= element._id %>">Delete</button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else {%>
                <div class="noAddresses">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#06b6d4"><path d="m612-120-263-93-179 71q-17 9-33.5-1T120-173v-558q0-13 7.5-23t19.5-15l202-71 263 92 178-71q17-8 33.5 1.5T840-788v565q0 11-7.5 19T814-192l-202 72Zm-34-75v-505l-196-66v505l196 66Zm60 0 142-47v-512l-142 54v505Zm-458-12 142-54v-505l-142 47v512Zm458-493v505-505Zm-316-66v505-505Z"/></svg>
                    </span>
                    <h2>You don't have any addresses</h2>
                    <p>Use the button below to add a new address</p>
                    <a href="#" class="add-address-btn">Add address</a>
                </div>
            <% } %>
        </div>
    </div>
</div>
    <!-- Delete address form -->
    <div class="delete-address">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#ec1a1a"><path d="M259.09-114.02q-28.45 0-48.41-19.89-19.96-19.89-19.96-48.24v-565.94h-45.07v-68.13h198.28v-34.3h271.9v34.3h198.52v68.13h-45.07v565.94q0 27.6-20.33 47.86-20.34 20.27-48.04 20.27H259.09Zm441.82-634.07H259.09v565.94h441.82v-565.94ZM363.89-266.24h64.07v-399h-64.07v399Zm168.15 0h64.31v-399h-64.31v399ZM259.09-748.09v565.94-565.94Z"/></svg>
          </h4>
          <div class="info-address">
                <h5 class="info-question" style="text-align: center;">
                Are u sure you want to delete this address?
          </div>
            <button type="submit" class="btn btn-block" id="deleteButton">
              <span id="buttonText">Delete</span>
              <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-block" id="cancelButton">
                <span id="buttonText">Cancel</span>
                <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              </button>
        </div>
      </div>
    </div>
    <%- include('Footer') %>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="scripts/address.js"></script>
</body>
</html>