<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Detail</title>
    <link rel="icon" type="image/png" href="images/logo.png" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style/Checkout-orderModality/Add-Addresses.css" />
    <link rel="stylesheet" href="style/Checkout-orderModality/Choose-Address.css" />
    <link rel="stylesheet" href="style/Checkout-orderModality/Checkout.css" />

    <link rel="stylesheet" href="style/Checkout-bilingData/modifyBilingData.css" />
    <style>
      .container-progress {
        width: 100%;
      }
      .progress-bar-custom {
        background-color: #4caf50;
      }

      .progress-labels {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 0.9rem;
      }

      /* Active and completed step indicator */
      .step-completed {
        color: #4caf50;
      }

      .step-pending {
        color: #888;
      }

      /* Align labels */
      .progress-step {
        flex: 1;
        text-align: center;
      }
      .progress-marker {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        background-color: #ddd;
        border-radius: 50%;
        display: inline-block;
        color: white;
        font-size: 0.9rem;
      }

      /* Completed marker styling */
      .step-completed .progress-marker {
        background-color: #4caf50;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar fixed-top">
      <div class="navbar-container">
        <a class="navbar-brand" href="/">
          <span>
            <img src="/images/logo.png" alt="Logo" style="width: 30px" />
          </span>
          <span style="color: #5f6368">GymArticles</span>
        </a>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="/cart"
                style="display: flex; align-items: center; gap: 5px"
              >
                <span style="position: relative">
                  <div
                    class="notification-badge"
                    id="cart-count"
                    style="
                      position: absolute;
                      top: -5px;
                      right: -5px;
                      background-color: red;
                      color: #ffffff;
                      border-radius: 50%;
                      width: 18px;
                      height: 18px;
                      padding: 8px;
                      display: none;
                      align-items: center;
                      justify-content: center;
                      font-size: 10px;
                      font-weight: bold;
                    "
                  >
                    <%= nrCart %>
                  </div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#5f6368"
                  >
                    <path
                      d="M292.31-115.38q-25.31 0-42.66-17.35-17.34-17.35-17.34-42.65 0-25.31 17.34-42.66 17.35-17.34 42.66-17.34 25.31 0 42.65 17.34 17.35 17.35 17.35 42.66 0 25.3-17.35 42.65-17.34 17.35-42.65 17.35Zm375.38 0q-25.31 0-42.65-17.35-17.35-17.35-17.35-42.65 0-25.31 17.35-42.66 17.34-17.34 42.65-17.34t42.66 17.34q17.34 17.35 17.34 42.66 0 25.3-17.34 42.65-17.35 17.35-42.66 17.35ZM235.23-740 342-515.38h265.38q6.93 0 12.31-3.47 5.39-3.46 9.23-9.61l104.62-190q4.61-8.46.77-15-3.85-6.54-13.08-6.54h-486Zm-19.54-40h520.77q26.08 0 39.23 21.27 13.16 21.27 1.39 43.81l-114.31 208.3q-8.69 14.62-22.58 22.93-13.88 8.31-30.5 8.31H324l-48.62 89.23q-6.15 9.23-.38 20 5.77 10.77 17.31 10.77h435.38v40H292.31q-35 0-52.23-29.5-17.23-29.5-.85-59.27l60.15-107.23L152.31-820H80v-40h97.69l38 80ZM342-515.38h280-280Z"
                    />
                  </svg>
                </span>
                My Cart
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Progress bar -->
    <div class="main-container">
      <div class="container-progress">
        <!-- Progress Step Labels -->
        <div class="progress-labels">
          <div class="progress-step step-completed">
            <span class="progress-marker">1</span><br />
            My Cart
          </div>
          <div class="progress-step step-completed">
            <span class="progress-marker">2</span><br />
            Order Detail
          </div>
          <div class="progress-step step-pending">
            <span class="progress-marker">3</span><br />
            Order Summary
          </div>
          <div class="progress-step step-pending">
            <span class="progress-marker">4</span><br />
            Order Placed
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-custom"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
      </div>
      <!-- Order modality -->
      <div class="order-modality-container">
        <div class="title-order-modality">
          <h4>1</h4>
          <h3>Order modality</h3>
          <div></div>
        </div>
        Order through courier at:
         <% if (addresses.length > 0) { %>
        <div class="container-fluid mt-4 address-item">
          <div class="info-card">
            <div class="name-phone">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#06b6d4"
                >
                  <path
                    d="M480-477.61q34.2 0 58.29-24.1 24.1-24.09 24.1-58.29t-24.1-58.29q-24.09-24.1-58.29-24.1t-58.29 24.1q-24.1 24.09-24.1 58.29t24.1 58.29q24.09 24.1 58.29 24.1Zm0 285.15q120.33-110.08 178.73-198.59 58.4-88.52 58.4-161.91 0-107.31-68.67-175.74t-168.47-68.43q-99.79 0-168.46 68.43-68.66 68.43-68.66 175.74 0 73.39 58.4 161.79 58.4 88.39 178.73 198.71Zm0 120.59Q315.17-211.26 233.52-329.36q-81.65-118.1-81.65-223.6 0-153.28 98.95-244.22 98.95-90.95 229.18-90.95 130.23 0 229.18 90.95 98.95 90.94 98.95 244.22 0 105.5-81.65 223.6T480-71.87ZM480-560Z"
                  />
                </svg>
              </span>
              <h5><%=addresses[0].name%></h5>
              <div><h6>-</h6></div>
              <div><h6><%= addresses[0].phoneNumber %></h6></div>
            </div>
            <div class="street" style="margin-left: 35px; color: #666666">
              <div><%= addresses[0].street %></div>
              <div><%= addresses[0].city %></div>
              <div><%= addresses[0].country %></div>
            </div>
              <button
                class="chooseAnotherAddress"
                id="chooseAnotherAddress"
              >
                Choose another address
              </button>
          </div>
        </div>
        <div class="products-image">
          <% cart.forEach(element => { %>
          <img
            src="<%= element.image %>"
            alt="<%= element.image %>"
            width="60"
            height="60"
            style="max-width: 100%; height: auto"
          />
          <% }) %> <% if (productCost > 50) { %>
            <div style="color: #009900; font-weight: 500;">Free</div>
          <% } else {%>
            <div>Delivery cost: $5</div>
          <% } %>
        </div>
        <% } else {%>
        <div class="order-modality-container">
          <div>Please add an address for see all delivery options.</div>
          <div>
            <button
              class="addAddressDelivery"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
              "
              id="addAddressDelivery"
            >
              Add an delivery address
            </button>
          </div>
        </div>
        <% } %>
      </div>
      <div class="billing-data-container">
        <div class="title-billing-data">
          <h4>2</h4>
          <h3>Biling data</h3>
          <div></div>
        </div>
        <% if (addresses.length > 0) { %>
          <div class="container-fluid mt-4 address-item">
            <div class="info-card-bilingData">
              <div class="name-phone">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#06b6d4"
                  >
                    <path
                      d="M480-477.61q34.2 0 58.29-24.1 24.1-24.09 24.1-58.29t-24.1-58.29q-24.09-24.1-58.29-24.1t-58.29 24.1q-24.1 24.09-24.1 58.29t24.1 58.29q24.09 24.1 58.29 24.1Zm0 285.15q120.33-110.08 178.73-198.59 58.4-88.52 58.4-161.91 0-107.31-68.67-175.74t-168.47-68.43q-99.79 0-168.46 68.43-68.66 68.43-68.66 175.74 0 73.39 58.4 161.79 58.4 88.39 178.73 198.71Zm0 120.59Q315.17-211.26 233.52-329.36q-81.65-118.1-81.65-223.6 0-153.28 98.95-244.22 98.95-90.95 229.18-90.95 130.23 0 229.18 90.95 98.95 90.94 98.95 244.22 0 105.5-81.65 223.6T480-71.87ZM480-560Z"
                    />
                  </svg>
                </span>
                <h5><%=addresses[0].name%></h5>
                <div><h6>-</h6></div>
                <div><h6><%= addresses[0].phoneNumber %></h6></div>
              </div>
              <div class="street" style="margin-left: 35px; color: #666666">
                <div><%= addresses[0].street %></div>
                <div><%= addresses[0].city %></div>
                <div><%= addresses[0].country %></div>
              </div>
              <div style="margin-left: 35px">
                <button
                  class="modifyBilingDataButton"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                  "
                  id="modifyBilingDataButton"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="20px"
                    viewBox="0 -960 960 960"
                    width="20px"
                    fill="#ffffff"
                  >
                    <path
                      d="M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z"
                    />
                  </svg>
                  Modify
                </button>
              </div>
            </div>
          </div>
        <% } else { %>
          <div>
            <div>Chosse or add available billing data for this order.</div>
            <div>
              <button
                class="addAddressBilingDataButton"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 5px;
                "
                id = "addAddressBilingDataButton"
              >
                Add billing address
              </button>
            </div>
          </div>
        <% } %> 
      </div>

      <!-- Payment method -->
      <div class="payment-method-container">
        <div class="title-payment-method">
          <h4>3</h4>
          <h3>Payment method</h3>
          <div></div>
        </div>
        <div class="payment-method-card">
          <div class="checkbox-wrapper">
            <input type="checkbox" name="online-card" id="online-card" checked/>
            <label for="online-card">Online card</label>
          </div>
          <span>Pay instant, without supplement costs</span>

          <div class="checkbox-wrapper">
            <input type="checkbox" name="repay-courier" id="repay-courier" />
            <label for="repay-courier">Repay at courier</label>
          </div>
          <span>You will pay when the order is delivered.</span>
        </div>
      </div>

      <div class="order-summary">
        <h5>Order Summary</h5>
        <div class="summary-item">
          <span class="label">Product Cost:</span>
          <span class="amount">$<%= productCost %></span>
        </div>
        <div class="summary-item" id="paymentProccesing" style="display: none;">
          <span class="label">Payment processing cost: </span>
          <span class="amount">$3</span>
        </div>
        <div class="summary-item">
          <span class="label">Delivery Cost:</span>
          <% if (productCost >= 50) { %>
          <span style="color: #009900; font-weight: 500;">Free</span>
          <% } else {%>
          <span class="amount">$<%= deliveryCost %></span>
          <% } %>
        </div>
        <div class="summary-item total">
          <span class="label">Total:</span>
          <% if (productCost >= 50) { %>
          <span class="amount">$<%= productCost %></span>
          <% } else {%>
          <span class="amount">$<%= productCost + deliveryCost%></span>
          <% } %>
        </div>
        <a href="/checkout">
          <button class="continue-button">Next step</button>
        </a>
      </div>
    </div>

    <!-- Add address functionality -->
    <div class="add-address-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="close-form-add-address"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#5f6368"
      >
        <path
          d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
        />
      </svg>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Add address</h4>
          <form method="POST" action="/add-address" id="add-address-form">
            <div class="form-group">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="ex: John Wick"
              />
            </div>
            <div class="form-group">
              <label>Phone number</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                name="phoneNumber"
                placeholder="0xxxxxxxxx"
              />
            </div>
            <div class="form-group">
              <label>Street</label>
              <input
                type="text"
                class="form-control"
                id="street"
                name="street"
                placeholder="ex: Str. Wall, nr. 23"
              />
            </div>
            <div class="form-group">
              <label>City</label>
              <input
                type="text"
                class="form-control"
                id="city"
                name="city"
                placeholder="ex: New York"
              />
            </div>
            <div class="form-group">
              <label>Country</label>
              <input
                type="text"
                class="form-control"
                id="country"
                name="country"
                placeholder="ex: SUA"
              />
            </div>
            <div
              id="warningMessageAdd"
              style="color: red; padding-bottom: 5px"
              class="text-center"
            ></div>
            <button type="submit" class="btn btn-block" id="saveButton">
              <span id="buttonText-add">Save</span>
              <span
                id="spinner-add"
                class="spinner-border spinner-border-sm d-none"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Chosse another address -->
    <div class="choose-address-container">
      <div class="sticky-header">
        <h4>Choose the delivery address</h4>
          <svg
          xmlns="http://www.w3.org/2000/svg"
          id="close-button-chosse"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#5f6368"
        >
          <path
            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
          />
        </svg>
      </div>
      <div class="card">
        <div class="add-address mt-4">
          <strong
            >Choose a delivery address from the bottom list or add a new
            address.</strong
          >
          <button
            id="add-address-btn"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;
            "
            class="add-address-btn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#ffffff"
            >
              <path
                d="M434.5-434.5H191.87v-91H434.5v-242.63h91v242.63h242.63v91H525.5v242.63h-91V-434.5Z"
              />
            </svg>
            Add address
          </button>
        </div>
        <% addresses.forEach(function(element, index) { %>
        <div class="checkbox-wrapper select-address address-item" data-name="<%= element.name %>" data-phone="<%= element.phoneNumber %>" data-street="<%= element.street %>" data-city="<%= element.city %>" data-country="<%= element.country %>">
          <input type="checkbox" <% if (index === 0) { %> checked <% } %>  />
          <div
            style="
              display: flex;
              width: 100%;
              justify-content: space-between;
              flex-wrap: wrap;
            "
          >
            <div>
              <div class="address-name">
                <h5><%=element.name%></h5>
                <div><h6>-</h6></div>
                <div><h6><%= element.phoneNumber %></h6></div>
              </div>
              <div class="street">
                <div><%= element.street %></div>
                <div><%= element.city %></div>
                <div><%= element.country %></div>
              </div>
            </div>
            <div>
              <button class="edit-address-btn" id="edit-address-btn" data-id="<%= element._id %>">
                Edit
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <!--Edit address functionality -->
    <div class="edit-address-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="close-button-edit"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#5f6368"
      >
        <path
          d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
        />
      </svg>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Edit address</h4>
          <form method="POST" action="/update-address" id="edit-address-form">
            <div class="form-group">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                id="name-edit"
                name="name"
                placeholder="ex: John Wick"
              />
            </div>
            <div class="form-group">
              <label>Phone number</label>
              <input
                type="text"
                class="form-control"
                id="phone-edit"
                name="phoneNumber"
                placeholder="0xxxxxxxxx"
              />
            </div>
            <div class="form-group">
              <label>Street</label>
              <input
                type="text"
                class="form-control"
                id="street-edit"
                name="street"
                placeholder="ex: Str. Wall, nr. 23"
              />
            </div>
            <div class="form-group">
              <label>City</label>
              <input
                type="text"
                class="form-control"
                id="city-edit"
                name="city"
                placeholder="ex: New York"
              />
            </div>
            <div class="form-group">
              <label>Country</label>
              <input
                type="text"
                class="form-control"
                id="country-edit"
                name="country"
                placeholder="ex: SUA"
              />
            </div>
            <div
              id="warningMessageEdit"
              style="color: red; padding-bottom: 5px"
              class="text-center"
            ></div>
            <button type="submit" class="btn btn-block" id="saveButton">
              <span id="buttonText-edit">Save</span>
              <span
                id="spinner-edit"
                class="spinner-border spinner-border-sm d-none"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </form>
        </div>
      </div>
    </div>

     <!-- Modify biling data modal -->
     <div class="modify-bilingData-container">
      <div class="sticky-header">
        <h4>Choose the biling data</h4>
          <svg
          xmlns="http://www.w3.org/2000/svg"
          id="close-button-bilingData"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#5f6368"
        >
          <path
            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
          />
        </svg>
      </div>
      <div class="card">
        <div class="add-address mt-4">
          <strong
            >Choose an address from the bottom list or add a new one.</strong>
          <button
            id="add-address-bilingData"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;
            "
            class="add-address-bilingData"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#ffffff"
            >
              <path
                d="M434.5-434.5H191.87v-91H434.5v-242.63h91v242.63h242.63v91H525.5v242.63h-91V-434.5Z"
              />
            </svg>
            Add new address
          </button>
        </div>
        <% addresses.forEach(function(element, index) { %>
        <div class="checkbox-wrapper select-address-bilingData address-item" data-name="<%= element.name %>" data-phone="<%= element.phoneNumber %>" data-street="<%= element.street %>" data-city="<%= element.city %>" data-country="<%= element.country %>">
          <input type="checkbox" <% if (index === 0) { %> checked <% } %>  />
          <div
            style="
              display: flex;
              width: 100%;
              justify-content: space-between;
              flex-wrap: wrap;
            "
          >
            <div>
              <div class="address-name">
                <h5><%=element.name%></h5>
                <div><h6>-</h6></div>
                <div><h6><%= element.phoneNumber %></h6></div>
              </div>
              <div class="street">
                <div><%= element.street %></div>
                <div><%= element.city %></div>
                <div><%= element.country %></div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="footer"><%- include('Footer') %></div>
    <!-- Bootstrap JS (optional, for interactive features) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="scripts/cart/addToCart.js"></script>
    <script src="scripts/checkout-orderModality/add-address.js"></script>
    <script src="scripts/checkout-orderModality/chosse-address.js"></script>
    <script src="scripts/checkout-orderModality/edit-address.js"></script>
    <script src="scripts/checkout-BilingData/modify-bilingData.js"></script>
    <script src="scripts/checkout-paymentMethod/paymentMethod.js"></script>
  </body>
</html>
