<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/logo.png">
    <title>Edit Product</title>
</head>
<body>
<div id="editProduct">
    <form id="articleForm" action="/edit-product/:id" method="put">
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" name="image" value="<%= article.image %>">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" value="<%= article.name %>">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" name="price" value="<%= article.price %>">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" name="category" value="<%= article.category %>">
        </div>
        <div class="mb-3">
            <label for="subcategory" class="form-label">Subcategory</label>
            <input type="text" class="form-control" name="subcategory" value="<%= article.subcategory %>">
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" name="quantity" value="<%= article.cantity %>">
        </div>
        <div id="msgError" class="text-danger"></div>
        <div id="msgOk" class="text-success"></div>
        <button type="submit" class="btn btn-primary">Save</button>
        <!-- <button type="submit" class="btn btn-primary">Delete article</button> -->
    </form>
</div>
</body>
</html>