<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymArticles</title>
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/Favorites.css">
    <link rel="icon" type="image/png" href="images/logo.png">
<style>
   
</style>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #f5f5f5;">
    <div class="navbar">
        <%- include('Navbar') %>
    </div>
    <%- include('Sidebar') %>
    <div class="col-md-8 favorites">
        <h2 class="mb-4">Favorites</h2>
        <% if (nrFavorites && nrFavorites > 0) { %>
            <div class="container">
                <div class="row">
                    <% favorites.forEach(element => { %>
                        <div class="col-12 mb-4">
                            <div class="favorite-card">
                                <div class="article-container">
                                    <div class="article-info">
                                        <a href="/product?name=<%= element.name %>&id=<%= element._id %>" class="text-decoration-none text-dark product-container">
                                            <img src="<%= element.image %>" alt="<%= element.name %>" width="150" height="150" style="max-width: 100%; height: auto;">
                                            <h5><%= element.name %></h5>
                                        </a>
                                        <ul class="list-unstyled d-flex">
                                            <li><i class="fa fa-star checked"></i></li>
                                            <li><i class="fa fa-star checked"></i></li>
                                            <li><i class="fa fa-star checked"></i></li>
                                            <li><i class="fa fa-star checked"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <% if (element.cantity > 0) { %>
                                            <p class="text-success">In stock</p>
                                        <% } else { %>
                                            <p class="text-danger">Not available in stock</p>
                                        <% } %>
                                        <div class="text-decoration-none text-dark"><strong><%= element.price %>$</strong></div>
                                    </div>
                                </div>
                                <div class="buttons">
                                   <button class="addToCartButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#ffffff"><path d="M444-576v-132H312v-72h132v-132h72v132h132v72H516v132h-72ZM263.79-96Q234-96 213-117.21t-21-51Q192-198 213.21-219t51-21Q294-240 315-218.79t21 51Q336-138 314.79-117t-51 21Zm432 0Q666-96 645-117.21t-21-51Q624-198 645.21-219t51-21Q726-240 747-218.79t21 51Q768-138 746.79-117t-51 21ZM48-792v-72h133l155 360h301l113-264h78L703-476q-9 20-26.5 32T637-432H317l-42 72h493v72H276q-42 0-63-36.5t0-71.5l52-90-131-306H48Z"/></svg>
                                   </button>
                                   <button class="deleteFavoriteButton" id="deleteFavorite" data-id = "<%= element._id %>" style="display: flex; align-items: center; justify-content: center; gap: 5px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff"><path d="M312-144q-29.7 0-50.85-21.15Q240-186.3 240-216v-480h-48v-72h192v-48h192v48h192v72h-48v479.57Q720-186 698.85-165T648-144H312Zm336-552H312v480h336v-480ZM384-288h72v-336h-72v336Zm120 0h72v-336h-72v336ZM312-696v480-480Z"/></svg>
                                    Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% } else { %>
            <div class="noFavorites text-center">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 -960 960 960" width="100px" fill="#06b6d4"><path d="m479.76-112.87-45.06-40.59q-106.72-97.71-176.08-168.69-69.36-70.98-110.6-126.96-41.24-55.98-57.74-101.57-16.5-45.6-16.5-92.32 0-92.63 62.18-154.92 62.17-62.3 153.8-62.3 56.76 0 105.14 26.29 48.38 26.28 84.86 76.32 42.48-53.04 89.24-77.82 46.76-24.79 100.76-24.79 91.87 0 154.16 62.3 62.3 62.29 62.3 154.92 0 46.72-16.5 92.2-16.5 45.47-57.74 101.45-41.24 55.98-110.72 127.08-69.48 71.1-176.19 168.81l-45.31 40.59Z"/></svg>
                </span>
                <h2 class="mt-3">Hmm, no product in your list</h2>
                <div class="mt-2">Look at some recommendations which can inspire you</div> 
                <div class="mt-2">Use the button below now to add to Favorites</div>
                <a href="/" class="seeProductsButton">See products</a>
            </div>
        <% } %>
    </div>
    
    </div>
    </div>
    <div class="footer">
        <%- include('Footer') %>
    </div>
    <script src="scripts/deleteFavorite.js"></script>
    <script src="scripts/toggleFavorites.js"></script>
</body>
</html>