<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GymArticles</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="./HomePage.css">
<style>
  .carousel-item {
    height: 400px;
    background-size: cover;
    background-position: center;
  }
</style>
</head>
<body style="background-color: #f5f5f5;">
<%- include('Navbar') %>
<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image: url('https://media.istockphoto.com/id/615919228/photo/girl-prepairing-for-workout.jpg?s=612x612&w=0&k=20&c=WX-gV6EACTUjD9ePIgQdYwyOyF2W02Khua9vgy6xiRA=')"></div>
          <div class="carousel-item" style="background-image: url('https://www.briellesportsclub.com/wp-content/uploads/2021/11/fitness-motivation-tips.webp')"></div>
          <div class="carousel-item" style="background-image: url('https://gymbeam.ro/media/catalog/product/cache/bf5a31e851f50f3ed6850cbbf183db11/m/e/men_s-sweatshirt-zipper-hoodie-black-gymbeam_3_.png')"></div>
          <div class="carousel-item" style="background-image: url('https://gymbeam.ro/media/catalog/product/cache/bf5a31e851f50f3ed6850cbbf183db11/c/r/cropped-t-shirt-serenity-beastpink-olivine-2.jpg')"></div>
          <div class="carousel-item" style="background-image: url('https://gymbeam.ro/media/catalog/product/cache/bf5a31e851f50f3ed6850cbbf183db11/b/o/boom_2.0_preworkout_forest_fruit_400_g_gymbeam.png')"></div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    
    <div class="container mt-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3" style="margin-top: 30px;">
            <div class="sidebar">
                <!-- Meniu drop-down pentru sortare -->
                <h5 class="text-center mb-3">Category</h5>
                <ul class="list-unstyled">
                    <li>
                        <label class="clothesWomen">Clothes for women</label>
                        <ul class="subcategories">
                            <li><a href="/category-results/?subcategory=T-Shirt">T-Shirt</a></li>
                            <li><a href="/category-results/?subcategory=Hoodies">Hoodies</a></li>
                            <li><a href="/category-results/?subcategory=Sport pants">Sport pants</a></li>
                            <li><a href="/category-results/?subcategory=Short pants">Short pants</a></li>
                            <li><a href="/category-results/?subcategory=Tops & sport bras">Tops & sport bras</a></li>
                            <li><a href="/category-results/?subcategory=Swimsuits">Swimsuits</a></li>
                            <li><a href="/category-results/?subcategory=Sports caps and hats">Sports caps and hats</a></li>
                        </ul>
                    </li>
                    <li>
                        <label class="clothesMen">Clothes for men</label>
                        <ul class="subcategories">
                            <li><a href="/category-results/?subcategory=T-Shirt">T-Shirt</a></li>
                            <li><a href="/category-results/?subcategory=Fitness tank top">Fitness tank top</a></li>
                            <li><a href="/category-results/?subcategory=Hoodies">Hoodies</a></li>
                            <li><a href="/category-results/?subcategory=Sport pants">Sport pants</a></li>
                            <li><a href="/category-results/?subcategory=Short pants">Short pants</a></li>
                            <li><a href="/category-results/?subcategory=Functional clothes">Functional clothes</a></li>
                            <li><a href="/category-results/?subcategory=Swimsuits">Swimsuits</a></li>
                            <li><a href="/category-results/?subcategory=Sports caps and hats">Sports caps and hats</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <label class="c-workout_home">Workout home</label>
                        <ul class="subcategories">
                            <li><a href="/category-results/?subcategory=Jump ropes">Jump ropes</a></li>
                            <li><a href="/category-results/?subcategory=Resistance bands and elastic bands">Resistance bands and elastic bands</a></li>
                            <li><a href="/category-results/?subcategory=Fitness balls and balance discs">Fitness balls and balance discs</a></li>
                            <li><a href="/category-results/?subcategory=Fitness mats">Fitness mats</a></li>
                            <li><a href="/category-results/?subcategory=Weights and dumbbells">Weights and dumbbells</a></li>
                            <li><a href="/category-results/?subcategory=Dumbbells">Dumbbells</a></li>
                            <li><a href="/category-results/?subcategory=Suspension training system">Suspension training system</a></li>
                            <li><a href="/category-results/?subcategory=Fitness bars and parallel bars">Fitness bars and parallel bars</a></li>
                            <li><a href="/category-results/?subcategory=Smart fitness accessories">Smart fitness accessories</a></li>
                            <li><a href="/category-results/?subcategory=Home workouts and others">Home workouts and others</a></li>
                            <li><a href="/category-results/?subcategory=Power rack and stands">Power rack and stands</a></li>
                            <!-- Adăugați alte subcategorii pentru antrenamentul la domiciliu -->
                        </ul>
                    </li>
                    <li>
                        <label class="c-fitness">Fitness accessories</label>
                        <ul class="subcategories">
                            <li><a href="/category-results/?subcategory=Fitness belts">Fitness belts</a></li>
                            <li><a href="/category-results/?subcategory=Fitness gloves">Fitness gloves</a></li>
                            <li><a href="/category-results/?subcategory=Shakers">Shakers</a></li>
                            <li><a href="/category-results/?subcategory=Sports bottles">Sports bottles</a></li>
                            <li><a href="/category-results/?subcategory=Classic straps and hooks straps">Classic straps and hooks straps</a></li>
                            <li><a href="/category-results/?subcategory=Training wraps">Training wraps</a></li>
                            <li><a href="/category-results/?subcategory=Towels">Towels</a></li>
                        </ul>
                    </li>
                    <li>
                        <label class="c-bags">Bags & Backpacks</label>
                        <ul class="subcategories">
                            <li><a href="/category-results/?subcategory=Bags for gym">Bags for gym</a></li>
                            <li><a href="/category-results/?subcategory=Backpacks">Backpacks</a></li>
                            <li><a href="/category-results/?subcategory=Bags & accessories for food">Bags & accessories for food</a></li>
                        </ul>
                    </li>
                    <li>
                        <label class="c-accessory">Accessory depending on the activity</label>
                        <ul class="subcategories">
                            <li><a href="/category-results/?subcategory=Running">Running</a></li>
                            <li><a href="/category-results/?subcategory=Contact sports">Contact sports</a></li>
                            <li><a href="/category-results/?subcategory=Yoga & pilates">Yoga & pilates</a></li>
                            <li><a href="/category-results/?subcategory=Cold therapy">Cold therapy</a></li>
                            <li><a href="/category-results/?subcategory=Swimming">Swimming</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
            <% if (user) { %>
                <% if (user.role === 'admin') { %>
                    <a href="/add-article" target="_blank" class="card-btn">
                        <button type="button" class="btn btn-primary">Add article</button>
                    </a>
                <% } else {%>
                    <div></div>
                    <% } %>
            <% } else { %>
             <div></div>
             <% } %>
        </div>
        <!-- Lista de produse -->
        <div class="col-md-9" style="margin-top: 30px;">
            <div class="row">
            <% articles.forEach(element => { %>
                <!-- Aici puteți adăuga carduri pentru articole sportive -->
                <div class="col-lg-4 col-md-6 mb-4 filtrable-card">
                    <div class="card" id="card">
                        <div class="card-body"> 
                            <span class="fa fa-heart heartIcon"></span>
                            <img src="<%= element.image %>" alt="img" style="max-width: 100%; height: auto;">
                            <h5 class="card-title" id="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-top: 10px;"><%=  element.name %></h5>
                            <ul class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </ul>
                            <p id="price"><strong><%= element.price %>$</strong></p>
                            <div>
                                <a href="/product?name=<%= element.name %>&id=<%= element._id %>" class="btn btn-primary" id="btn-buy">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    </div>
</div>

<%- include('Footer') %>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
