<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAccount</title>
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="style/MyAccount.css">
<link rel="icon" type="image/jpg" href="logo.jpg">
</head>
<body>
     <div class="navbar">
      <%- include('Navbar') %>
     </div>
      <div class="container-account">
        <div class="row">
            <div class="col-md-4 sidebar">
                <div class="profile-information text-center">
                    <div class="profile-picture"><%= user.name[0] %></div>
                    <h3><%= user.name %></h3>
                    <p><%= user.email %></p>
                </div>
                <a href="#" class="sidebar-link active">
                  <span style="padding-right: 5px;">
                    <svg  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#06b6d4"><path d="M479.97-403.59q34.46 0 59.04-24.69 24.58-24.7 24.58-59.16 0-34.47-24.55-59.02Q514.5-571 480.03-571q-34.46 0-59.04 24.54-24.58 24.55-24.58 59.02 0 34.46 24.55 59.16 24.54 24.69 59.01 24.69ZM316.41-236.41h327.18V-263q0-24.96-13.72-46.03-13.72-21.08-37.44-31.32-26.23-11.24-54.12-17.24-27.89-6-58.31-6t-58.31 6q-27.89 6-54.12 17.24-23.72 10.24-37.44 31.32-13.72 21.07-13.72 46.03v26.59ZM717.13-71.87H242.87q-37.78 0-64.39-26.61t-26.61-64.39v-634.26q0-37.78 26.61-64.39t64.39-26.61h320.48l244.78 244.78v480.48q0 37.78-26.61 64.39t-64.39 26.61Zm0-91V-604.8L524.8-797.13H242.87v634.26h474.26Zm-474.26 0v-634.26 634.26Z"/></svg>
                  </span>
                  <span>
                    Personal information
                  </span>
                </a>
                <a href="#" class="sidebar-link">
                  <span style="padding-right: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#06b6d4"><path d="M563.59-447.41q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM291-320q-37.54 0-64.27-26.73Q200-373.46 200-411v-312.59q0-37.53 26.73-64.27 26.73-26.73 64.27-26.73h545.41q37.54 0 64.27 26.73 26.73 26.74 26.73 64.27V-411q0 37.54-26.73 64.27Q873.95-320 836.41-320H291Zm76.41-87.41H760q0-33 23.5-56.5t56.5-23.5v-160q-33 0-56.5-23.5t-23.5-56.5H367.41q0 33-23.5 56.5t-56.5 23.5v160q33 0 56.5 23.5t23.5 56.5ZM800-152.59H123.59q-37.54 0-64.27-26.73-26.73-26.73-26.73-64.27V-680h91v436.41H800v91ZM287.41-407.41v-320 320Z"/></svg>
                  </span>
                  <span>
                    Billing & Payments
                  </span>
                </a>
                <a href="#" class="sidebar-link">
                  <span style="padding-right: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#06b6d4"><path d="M480-71.87q-84.91 0-159.34-32.12-74.44-32.12-129.5-87.17-55.05-55.06-87.17-129.5Q71.87-395.09 71.87-480t32.12-159.34q32.12-74.44 87.17-129.5 55.06-55.05 129.5-87.17 74.43-32.12 159.34-32.12t159.34 32.12q74.44 32.12 129.5 87.17 55.05 55.06 87.17 129.5 32.12 74.43 32.12 159.34t-32.12 159.34q-32.12 74.44-87.17 129.5-55.06 55.05-129.5 87.17Q564.91-71.87 480-71.87Zm0-91q133.04 0 225.09-92.04 92.04-92.05 92.04-225.09 0-133.04-92.04-225.09-92.05-92.04-225.09-92.04-133.04 0-225.09 92.04-92.04 92.05-92.04 225.09 0 133.04 92.04 225.09 92.05 92.04 225.09 92.04ZM315.22-315.22v-129.69l222.43-221.44q9.72-9.76 21.6-14.1 11.87-4.33 23.75-4.33 12.96 0 24.81 4.86 11.84 4.85 21.54 14.57l37 37q8.67 9.72 13.55 21.6 4.88 11.87 4.88 23.75 0 12.2-4.36 24.41-4.35 12.22-14.07 21.94L444.91-315.22H315.22ZM620-583l-37-37 37 37ZM380-380h38l120.04-121.04-18-19-19-18L380-418v38Zm140.04-140.04-19-18 37 37-18-19Z"/></svg>
                  </span>
                  <span>
                    Order History
                  </span>
                </a>
                <a href="#" class="sidebar-link">
                  <span style="padding-right: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#06b6d4"><path d="m363-387.61 117-71 117 71-31-133 104-90-137-11-53-126-53 126-137 11 104 90-31 133ZM71.87-71.87v-725.26q0-37.78 26.61-64.39t64.39-26.61h634.26q37.78 0 64.39 26.61t26.61 64.39v474.26q0 37.78-26.61 64.39t-64.39 26.61H231.87l-160 160Zm126-251h599.26v-474.26H162.87v508.5l35-34.24Zm-35 0v-474.26 474.26Z"/></svg>
                  </span>
                  <span>
                    My reviews
                  </span>
                </a>
                <a href="#" class="sidebar-link">
                  <span style="padding-right: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#06b6d4"><path d="M361.2-443.59h82.39v-101.87h72.82v101.87h82.39v-185.93L480-708.8l-118.8 79.28v185.93ZM480-192.46q120.33-110.08 178.73-198.59 58.4-88.52 58.4-161.91 0-107.31-68.67-175.74t-168.47-68.43q-99.79 0-168.46 68.43-68.66 68.43-68.66 175.74 0 73.39 58.4 161.79 58.4 88.39 178.73 198.71Zm0 120.59Q315.17-211.26 233.52-329.36q-81.65-118.1-81.65-223.6 0-153.28 98.95-244.22 98.95-90.95 229.18-90.95 130.23 0 229.18 90.95 98.95 90.94 98.95 244.22 0 105.5-81.65 223.6T480-71.87ZM480-560Z"/></svg>
                  </span>
                  <span>
                    My addresses
                  </span>
                </a>
                <a href="#" class="sidebar-link">
                  <span style="padding-right: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#06b6d4"><path d="M363.07-71.87 346.59-202.5q-11.09-4.28-21.04-10.33-9.94-6.04-19.51-12.84l-121.39 51.19L67.48-377.39l104.91-79.44q-.76-6.04-.76-11.58v-23.18q0-5.54.76-11.58L67.48-582.61l117.17-202.43 121.87 50.95q9.57-6.8 19.65-12.73 10.09-5.92 20.42-10.2l16.48-131.11h233.86l16.48 131.11q11.09 4.28 21.04 10.2 9.94 5.93 19.51 12.73l121.39-50.95 117.17 202.43-105.15 79.44q.76 6.04.76 11.58V-480q0 6.04-.12 11.59-.12 5.54-1.64 11.58l105.15 79.44-117.41 202.91-120.63-51.19q-9.57 6.8-19.65 12.84-10.09 6.05-20.42 10.33L596.93-71.87H363.07Zm79.56-91h73.5l14.24-105.52q31.24-8 58.34-23.62 27.09-15.62 49.09-38.58l98.77 41 36.13-63.69-85.29-64.52q5-14.48 7.24-30.22 2.24-15.74 2.24-31.98 0-16.24-2.24-31.98-2.24-15.74-7.24-30.22l85.76-64.52-36.6-63.69-98.53 42q-22-23.72-49.09-39.58-27.1-15.86-58.58-23.62l-13-105.52h-73.98l-13.52 105.28q-31.72 7.76-58.94 23.62-27.21 15.86-49.45 38.82l-98.28-41-36.37 63.69 85.04 63.29q-5 15.47-7.24 30.83-2.24 15.36-2.24 32.6 0 16.24 2.24 31.72t7.24 30.95l-85.04 64.05 36.37 63.69 98.28-41.76q22.24 23.48 49.57 39.34 27.34 15.86 58.82 23.86l12.76 105.28ZM481.28-340q58 0 99-41t41-99q0-58-41-99t-99-41q-58.76 0-99.38 41t-40.62 99q0 58 40.62 99t99.38 41ZM480-480Z"/></svg>
                  </span>
                  <span>
                    Settings
                  </span>
                </a>
            </div>
            <div class="col-md-8 personal-info">
                <h2>Personal information</h2>
                <div class="info-card">
                  <div class="title-card">
                    <h5>Name</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#06b6d4"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg>
                  </div>
                    <p><%= user.name %></p>
                </div>
                <div class="info-card">
                  <div class="title-card">
                    <h5>Date of Birth</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#06b6d4"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg>
                  </div>
                    <p><%= user.dateOfBirth %></p>
                </div>
                <div class="info-card">
                  <div class="title-card">
                    <h5>Email</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#06b6d4"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg>
                  </div>
                    <p><%= user.email %></p>
                </div>
                <div class="info-card">
                  <div class="title-card">
                    <h5>Phone number</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#06b6d4"><path d="M280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v720q0 33-23.5 56.5T680-40H280Zm0-200v120h400v-120H280Zm200 100q17 0 28.5-11.5T520-180q0-17-11.5-28.5T480-220q-17 0-28.5 11.5T440-180q0 17 11.5 28.5T480-140ZM280-320h400v-400H280v400Zm0-480h400v-40H280v40Zm0 560v120-120Zm0-560v-40 40Z"/></svg>
                  </div>
                    <p><%= user.phoneNumber %></p>
                </div>
                <a href="#edit-personal-information">
                  <button id="manage-information">Manage information</button>
                </a>
            </div>
        </div>
    </div>
      <div class="container-information">
        <svg xmlns="http://www.w3.org/2000/svg" id="close-information" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Manage information</h4>
          <form>
            <div class="form-group">
              <label>Name</label>
            <input type="text" class="form-control" id="name" name="name" autofocus>
            <div id="nameError">
            </div>
          </div>
          <div class="form-group">
          <label>Phone number</label>
          <input type="text" class="form-control" id="phone" name="phone">
          <div id="phoneError">
          </div>
        </div>
        <div class="form-group">
          <label>Date of Birth</label>
          <input type="date" id="dob" name="dob">
        <div id="dobError">
        </div>
      </div>
            <button type="submit" class="btn btn-block" id="saveButton">
              <span id="buttonText">Save</span>
              <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/scripts/account.js"></script>
</body>
</html>