<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.name %></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/Product.css">
    <link rel="icon" type="image/png" href="images/logo.png">
</head>
<body style="background-color: #f5f5f5;" id="body">
  <%- include('Navbar') %>
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 mt-5">
                <!-- Product Image -->
                <img src="<%= article.image %>" alt="Product" class="img-fluid product-image">
            </div>
            <div class="col-md-6">
                <!-- Product Details -->
                <div class="product-details">
                    <h2><%= article.name %></h2>
                    <p>Detalii despre produs: Aici puteți introduce o descriere a produsului.</p>
                    <p>Price: $<%= article.price %></p>
                    <% if (article.cantity > 0) { %>
                        <p class="text-success">In stock</p>
                    <% } else { %>
                        <p class="text-danger">Not available in stock</p>
                    <% } %>
                      <div>
                        <a class="btn btn-primary mb-3" type="submit">Add to cart</a>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary">Leave a review</a>
                    </div>
                    <% if (!user) { %>

                    <% } else { %>
                        <% if (user.role === 'admin') { %>
                            <div>
                                <a href="/edit-product?id=<%= article._id %>" class="btn btn-primary mt-3">Edit product</a>
                            </div>
                        <% } else{ %>
                            
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('Footer') %>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts/product.js"></script>
</body>
</html>
